$header-height: 48px;


mat-drawer-container {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    mat-drawer {
        width: 250px;
        background-color: #c7c7c7;
    }

    mat-drawer-content {
        mat-toolbar {
            min-height: $header-height;
            margin-bottom: 20px;
            mat-toolbar-row {
                height: $header-height;

                display: flex;
                justify-content: space-between;
            }
            background:#f3f3f4;
            /*color: #53b91f;*/
        }

        .page-container {
            padding: 20px 10px;
            /*background-color:#fff;*/
            min-height: calc(100vh - 50px);
        }
    }
}